<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name = "hbm2ddl.auto">validate</property>
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/background</property>
        <property name = "hibernate.connection.username">jokerkras</property>
        <property name = "hibernate.connection.password">Zxcv11091971!</property>
        <property name = "show_sql">true</property>

        <mapping class="com.krasikov.domain.Client"/>
        <mapping class="com.krasikov.domain.ContractForNumber"/>
        <mapping class="com.krasikov.domain.MobileNumber"/>
        <mapping class="com.krasikov.domain.Option"/>
        <mapping class="com.krasikov.domain.Tariff"/>
        <mapping class="com.krasikov.domain.Worker"/>
    </session-factory>
</hibernate-configuration>